* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px 20px 20px;
}

.header h1 {
    margin-bottom: 20px;
}

#button {
    color: white;
    border-radius: 8px;
    margin-top: 0.9rem;
    height: 2.2rem;
    width: 30%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

#button:hover {
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 0 0 10px white;
}