* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 20px 20px;
    background-color: gray;
}

.header h1 {
    margin-bottom: 20px;
}

#button {
    background-color: red;
    color: white;
    border-radius: 8px;
    margin-top: 0.9rem;
    height: 2.2rem;
    width: 30%;
}


#button.blue {
    background-color: blue;
}

#button:hover {
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

.main-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 6px;
    border: 2px red solid;
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    transition: box-shadow 0.6s;
}



.section.blue {
    background-color: white;
    color: black;
}

.section:hover {
    box-shadow: 0 0 2px 2px red;
    cursor: pointer;
}

@media (max-width: 500px) {
    .main-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 350px) {
    .main-container {
        grid-template-columns: repeat(1, 1fr);
    }
}