* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: red;
    color: white;
    border-radius: 8px;
    margin-top: 0.9rem;
    height: 2.2rem;
    width: 20%;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 0 0 10px white;
}